body{
  margin: 0;
}

.flexnav {
  padding: 5px;
  font-family: sans-serif;
  color: white;
  display: flex;
  background-color: #a2ed80;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
}

li a: hover
{color: white;}

.links{
  list-style: none;
  display: flex;
  
}

.item{
  padding: 5px;
  
}
  
a{
  text-decoration: none;
  
}